<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.csseditor"
   name="%pluginName"
   version="0.0.4"
   provider-name="%providerName"
   class="net.sourceforge.csseditor.CssEditorPlugin">

   <runtime>
      <library name="csseditor.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.osgi"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>

   <extension-point id="profiles" name="CSS Profiles" schema="schema/profiles.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editorName"
            extensions="css"
            icon="icons/style_sheet_obj.gif"
            class="net.sourceforge.csseditor.internal.editor.CssEditor"
            contributorClass="net.sourceforge.csseditor.internal.editor.CssEditorActionContributor"
            id="net.sourceforge.csseditor.editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            extensions="css"
            class="net.sourceforge.csseditor.internal.CssDocumentProvider"
            id="net.sourceforge.csseditor.documentProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.fontDefinitions">
      <fontDefinition
            label="%editorFontDefinition.label"
            defaultsTo="org.eclipse.jface.textfont"
            id="net.sourceforge.csseditor.editorfont">
         <description>
            %editorFontDefinition.description
         </description>
      </fontDefinition>
      <fontDefinition
            label="%compareFontDefinition.label"
            defaultsTo="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            id="net.sourceforge.csseditor.internal.compare.CssMergeViewer">
         <description>
            %compareFontDefinition.description
         </description>
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preferencePage.name"
            class="net.sourceforge.csseditor.internal.preferences.CssPreferencePage"
            id="net.sourceforge.csseditor.preferencePage">
      </page>
      <page
            name="%editorPreferencePage.name"
            category="net.sourceforge.csseditor.preferencePage"
            class="net.sourceforge.csseditor.internal.preferences.CssEditorPreferencePage"
            id="net.sourceforge.csseditor.editor.preferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
<!-- TODO: Only enable the following property page for projects with a
           future "Web" nature -->
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="%propertyPage.name"
            class="net.sourceforge.csseditor.internal.properties.CssPropertyPage"
            id="net.sourceforge.csseditor.propertyPage">
      </page>
      <page
            objectClass="org.eclipse.core.resources.IResource"
            name="%propertyPage.name"
            class="net.sourceforge.csseditor.internal.properties.CssPropertyPage"
            nameFilter="*.css"
            id="net.sourceforge.csseditor.propertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%sourceCategory.label"
            description="%sourceMenu.description"
            id="net.sourceforge.csseditor.sourceCategory">
      </category>
      <command
            name="%commentAction.label"
            category="org.eclipse.jdt.ui.category.source"
            description="%commentAction.description"
            id="net.sourceforge.csseditor.commentAction">
      </command>
      <keyBinding
            string="Ctrl+/"
            command="net.sourceforge.csseditor.commentAction"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Ctrl+/"
            command="net.sourceforge.csseditor.commentAction"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Command+/"
            command="net.sourceforge.csseditor.commentAction"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%uncommentAction.label"
            category="org.eclipse.jdt.ui.category.source"
            description="%uncommentAction.description"
            id="net.sourceforge.csseditor.uncommentAction">
      </command>
      <keyBinding
            string="Ctrl+\"
            command="net.sourceforge.csseditor.uncommentAction"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Ctrl+\"
            command="net.sourceforge.csseditor.uncommentAction"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Command+\"
            command="net.sourceforge.csseditor.uncommentAction"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%authoringActions.label"
            id="net.sourceforge.csseditor.authoringActions">
         <menu
               label="%sourceMenu.label"
               path="edit"
               id="net.sourceforge.csseditor.sourceMenu">
            <separator
                  name="editGroup">
            </separator>
         </menu>
         <action
               label="%shiftLeftAction.label"
               menubarPath="net.sourceforge.csseditor.sourceMenu/editGroup"
               retarget="true"
               id="org.eclipse.ui.edit.text.shiftLeft">
         </action>
         <action
               label="%shiftRightAction.label"
               menubarPath="net.sourceforge.csseditor.sourceMenu/editGroup"
               retarget="true"
               id="org.eclipse.ui.edit.text.shiftRight">
         </action>
         <action
               definitionId="net.sourceforge.csseditor.uncommentAction"
               label="%uncommentAction.label"
               menubarPath="net.sourceforge.csseditor.sourceMenu/editGroup"
               retarget="true"
               id="net.sourceforge.csseditor.uncommentAction">
         </action>
         <action
               definitionId="net.sourceforge.csseditor.commentAction"
               label="%commentAction.label"
               menubarPath="net.sourceforge.csseditor.sourceMenu/editGroup"
               retarget="true"
               id="net.sourceforge.csseditor.commentAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="net.sourceforge.csseditor.authoringActions">
         <part
               id="net.sourceforge.csseditor.editor">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part
               id="net.sourceforge.csseditor.editor">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            extensions="css"
            class="net.sourceforge.csseditor.internal.compare.CssMergeViewerCreator"
            id="net.sourceforge.csseditor.compare.contentMergeViewer">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.compare.structureCreators">
      <structureCreator
            extensions="css"
            class="net.sourceforge.csseditor.internal.compare.CssStructureCreator"
            id="net.sourceforge.csseditor.compare.structureCreator">
      </structureCreator>
   </extension>
   <extension
         point="net.sourceforge.csseditor.profiles">
      <profile
            name="%css1Profile.name"
            description="%css1Profile.description"
            class="net.sourceforge.csseditor.profiles.Css1Profile"
            id="net.sourceforge.csseditor.profiles.css1">
      </profile>
      <profile
            name="%css2Profile.name"
            description="%css2Profile.description"
            class="net.sourceforge.csseditor.profiles.Css2Profile"
            id="net.sourceforge.csseditor.profiles.css2">
      </profile>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sourceforge.csseditor.SimplePreferenceInitializer">
      </initializer>
   </extension>

</plugin>
